@{
    ViewBag.Title = "Parámetro Rubro Editar";
    Layout = "~/Views/Shared/PanelParametros/_ParametrosLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/ActiveHelper/Rubro.js")" type="text/javascript"></script>

<div class="panel well bs-component">
    <div class="panel-body ">
        <div class="container-fluid">
            <h4>Editar Rubro</h4>
            <div class="row">
                <div id="RubrosEdit">
                    @Html.Partial("~/Views/Shared/Rubros/_Edit.cshtml", ViewBag.Rubro as Cobranza.Core.Application.Dto.PanelParametros.RubroDto)
                </div>
                <div class="col-md-12">
                    <hr />
                </div>
                <div class="col-md-12" id="RubrosList">
                </div>
            </div>
        </div>
    </div>
</div>