@{
    var urlLoadingImage = Url.Content("~/Content/Images/loading.gif");
}
<div id="loading-dialog">
    <img src="@urlLoadingImage" class="loading-image" />
    <span id="load-message-for-file-to-process"></span>
</div>