@{
    Layout = "~/Views/Shared/PanelParametros/_ParametrosLayout.cshtml";
    Page.Title = "Panel Parámetros";
}

<div class="panel panel-default">
    <div class="panel-body text-center">Seleccione un <strong>par&aacute;metro</strong> de la lista.</div>
</div>